---
title: About Page
layout: base
---

.container
  h1 !{ title }
  p.
    Commodo nisi pariatur pariatur et. Officia esse cupidatat laboris dolor ut et aliquip in incididunt consequat labore. Eu enim qui ea sint labore deserunt esse sint fugiat enim elit ut minim. Tempor non adipisicing tempor aute quis duis enim anim ad eiusmod ut veniam nulla amet.AAA

  each item in news
    a(href="/" + item.country) #{ item.country } - 