---
title: The Content
layout: base
pagination:
  data: news
  size: 1
  alias: news
permalink: "| #{  news.country }/index.html"
---

.container
  h1 !{ title }
  .vibe JAMstack is awesome!
  .love ❤
  ul
    each article in news.articles
      a(href= article.url): h2: li= article.title
      span= article.source.name + ' - '
      time= article.publishedAt
  script(src="./js/vibe.js")